.outer {
        stroke-width: 2%;
}
.node {
        stroke-width: 5;
}
.nodelabel {
        font: bold 24px sans-serif;
        text-anchor: middle;
        dominant-baseline: middle;
}
.link {
        stroke-width: 2;
}

@media (prefers-color-scheme: light) {
	.outer {
		stroke: #97BF00;
		fill: white;
	}
	.node {
		stroke: gray;
		fill: white;
	}
	.node.ngi0 {
		stroke: #97BF00;
		fill: #97BF00;
		stroke-opacity: 100%;
		fill-opacity: 20%;
	}
	.node.assure {
		stroke: #664DA7;
		fill: #664DA7;
		stroke-opacity: 100%;
		fill-opacity: 10%;
	}
	.node.completed {
		fill: #97BF00;
		fill-opacity: 80%;
	}
	.node.assure.completed {
		fill: #664DA7;
		fill-opacity: 80%;
	}
	.node.inprogress {
		fill: gray;
		fill-opacity: 20%;
	}
	.nodelabel {
		fill: black;
	}
	.link {
		stroke: black;
	}

}

@media (prefers-color-scheme: dark) {
	.outer {
		stroke: #97BF00;
		fill: black;
	}
	.node {
		stroke: gray;
		fill: black;
	}
	.node.ngi0 {
		stroke: #97BF00;
		fill: #97BF00;
		stroke-opacity: 100%;
		fill-opacity: 20%;
	}
	.node.assure {
		stroke: #664DA7;
		fill: #664DA7;
		stroke-opacity: 100%;
		fill-opacity: 10%;
	}
	.node.completed {
		fill: #97BF00;
		fill-opacity: 80%;
	}
	.node.assure.completed {
		fill: #664DA7;
		fill-opacity: 80%;
	}
	.node.inprogress {
		fill: gray;
		fill-opacity: 20%;
	}
	.nodelabel {
		fill: white;
	}
	.link {
		stroke: white;
	}

}
