.outer {
        stroke: #3365a3;
        stroke-width: 2%;
        fill: white;
}
.node {
        stroke: #3365a3;
        stroke-width: 2;
        fill: white;
}
.nodelabel {
        fill: #3365a3;
        font: bold 10px sans-serif;
        text-anchor: middle;
        dominant-baseline: middle;
}
.link {
        stroke: #3365a3;
        stroke-width: 2;
}
